/* Estilos GENERALES */
:root{
  --primario:#8e44ad;
  --negro:rgb(86, 88, 89);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: var(--negro);
  background: #f1f1f1;
  background-image: url(/images/humo-0.png), linear-gradient(white 30%,#e7e7e7 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Saira Extra Condensed',serif;
  text-transform: uppercase;
  font-weight: 500;
}

h1{
  font-size: 6rem;
  font-weight: bold;
  line-height: 5rem;
}

h1 span{
  color:var(--primario);
  background: -webkit-linear-gradient(-45deg, var(--primario) 30%, var(--negro) 100%);
  -webkit-background-clip: text !important;
  background-clip:content-box;
  -webkit-text-fill-color: transparent !important;
  background-color: var(--primario);
}

h2{
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--primario);
}

h3{
  font-size: 1.8rem;
  font-weight: 600;
  padding-top:2rem;
}

h4{
  font-size: 1.3rem;
}

ul{
  list-style-type: none;
  margin:0;
  padding: 0;
}

/* Estilos HEADER - MAIN - FOOTER */
.right-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
  padding: 0px 1rem 0px 2rem;
}

.right-section .foto{
  visibility: hidden;
  width: 200px;
}

.right-section .sobremi p{
  padding-top: 3rem;
}

.right-section a{
  text-decoration: none;
  color: var(--primario);
}

.right-section a:hover{
  color: rgb(185, 185, 185);
}

.porfolio{
  min-height: 100vh;
}

.resumen-cv{
  display: block;
  padding: 0;
}

.resumen-cv h3{
  line-height: 1.2rem;
}

.resumen-cv p{
  padding-top: 1rem;
}

/* Estilo SECCIONES de CV */
.bloque-cv .fecha{
  display: flex;
  justify-content: right;
  color: var(--primario);
  font-size: .9rem;
  padding: 0 .8rem 0 0;
  border-top:1px dotted var(--primario);
}

.bloque-cv .fecha i{
  padding: .2rem 0 0 .3rem;
}

.lenguajes{
  padding-bottom: 2rem;
}

.lenguajes h3{
  line-height: 2rem;
}

.workflow h4{
  line-height: 2rem;
}

.icono-skill{
  font-size: 3em;
  color: var(--primario);
}

.icono-skill:hover{
  color: var(--negro);
}

.social-list{
  display: flex;
}

.social-icon{
  margin: 2rem .8rem 0 0;
  font-size: 1.6rem;
  font-size: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--primario);
  text-align: center;
  padding: 4px 0;
  border-radius: 50%;
  cursor: pointer;
}

.social-icon:hover{
  background-color: var(--negro);
}

/* Estilo de FORMULARIO */
.form {
  max-inline-size: 550px;
}

.form label {
  display: block;
  margin-block-start: 1em;
  margin-block-end: .5em;
  padding-inline-start: .5em;
}

.btn-form{
  background: initial;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 35px;
  border: 1px dotted var(--primario);
  font-weight: bold;
  padding: 0 1.5em;
  color: var(--primario);
  width: 100%;
}

.btn-form:hover{
  background: var(--primario);
  color:white;
}

.form label {
  color: var(--primario);
}

.form input, .form textarea {
  width: 100%;
  padding: .8em;
  border: 1px dotted var(--negro);
}

.form textarea {
  margin-block-end: 2em;
}

input::-webkit-input-placeholder {
  color: var(--primario);
}

#envio-mail {
  opacity: 0;
}

/* Estilos FOOTER */
.pie{
  border-top: 1px dotted var(--primario);
}
.pie p{
  text-align: center;
  color: var(--primario);
  font-size: .8em;
  text-transform: uppercase;
  margin: 30px 0 30px 0;
}

.pie .firma{
  text-transform: lowercase;
  color: var(--negro);
}

/* Estilos para el MENU LATERAL */
.left-menu {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  position: fixed;
  min-width: 260px;
  text-align: center;
  background: var(--primario);
  height: 100vh;
}

.interior-menu{
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.interior-menu h4{
  color:white;
  padding-top: 1rem;
}

.interior-menu p{
  color:white;
  padding-bottom: 1rem;
  font-size: .9rem;
}

/* Estilos para la foto de perfil */
.profile-foto {
  border-radius: 50%;
  width: 180px;
  border:1rem solid rgb(255,255,255,.2);
}

/* Estilos para los enlaces del menú */
.interior-menu li a{
  color: white;
  text-decoration: none;
  line-height: 2.2rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.interior-menu li:hover{
  text-decoration: underline;
}



/* VIEWPORTS

Oculta el menú lateral a pantallas pequeñas */
@media (max-width: 960px) {
  .left-menu {
    display: none;
  }
  .right-section {
    width: 100%;
  }  
  .right-section .foto{
    visibility: visible;
    margin: 2rem 0 1rem 0;
    width: 10rem;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    border-top:1rem solid var(--primario);
    border-right:1rem solid var(--primario);
    border-bottom:1rem solid var(--primario);
  }
  .porfolio .sobremi p{
    padding-top:2rem;
  }
  .porfolio{
    width: 100%;
  }
}

/* Otros Viewports */
@media (min-width: 961px) {
  .right-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px 0 100px;
    margin-top: -100px;
  }
  .porfolio{
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .right-section{
    padding:0 30px 0 100px;
  }
}

@media (min-width: 1280px) {
  .right-section{
    padding:0 70px 0 70px;
  }
}

@media (min-width: 1440px) {
  .right-section{
    padding:0 70px 0 70px;
  }
}

@media (min-width: 1680px) {
  .right-section{
    padding: 60px 70px 30px 120px;
  }
}

@media (min-width: 1920px) {
  .right-section{
    padding: 0 140px 0 140px;
  }
}

/** INICIO SELECTOR de colores para MENU LATERAL */
.selector-color{
  position:fixed;
  top: 30px; right:-140px;
  width: 140px;
  padding:10px;
  background:white;
  z-index: 1000;
}

.selector-color.active{
  right:0px;
}

.selector-color h3{
  color:var(--primario);
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
  padding:10px 0;
  text-align: center;
}

.selector-color .btn-selector{
  position:absolute;
  top:0; left:-70px;
  color:var(--primario);
  background: white;
  padding:10px 18px;
  cursor: pointer;
  font-size: 25px;
}

.selector-color .btn-selector i{
  animation: rotate 2s linear infinite;
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}

.selector-color .buttons-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.selector-color .buttons-container .color-buttons{
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin:5px;
  cursor:pointer;
}
/* FIN SELECTOR de colores */